@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&family=Palanquin+Dark:wght@400;500;600;700&family=Readex+Pro:wght@160..700&display=swap');

body {
    background-color: rgb(23, 23, 23);
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center ;
    gap: 0.6rem;
    cursor: url('cursor.png'), auto;
}


header {
    margin-top: 5vh;
}

#flags {
    width: 12vw;
    animation: slideInTop 1.2s ease forwards;
}
     @keyframes slideInTop {
        0% {transform: translateY(-150%);
            opacity: 0;}
        100% {transform: translateY(0);
            opacity: 0.8;}
    }

h1 {
    font-family: "Palanquin Dark", sans-serif;
    font-weight: 400;
    font-size: 3.7rem;
    font-style: italic;
    line-height: 0rem;
    color: rgb(235, 235, 235);
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
    animation: slideInLeft 1s ease forwards;
}
        @keyframes slideInLeft {
            0% {transform: translateX(-150%);
                opacity: 0;}
            100% {transform: translateX(0);
                opacity: 1;}
    }

h2 {
    font-family: "Palanquin Dark", sans-serif;
    font-weight: 100;
    font-size: 1.3rem;
    line-height: 4vh; 
    color: rgb(192, 192, 192);
    text-shadow: 0px 0px 15px rgba(224, 224, 224, 0.45);
    animation: slideInRight 1.7s ease forwards;
}

        @keyframes slideInRight {
        0% {transform: translateX(100%);
            opacity: 0;}
        100% {transform: translateX(0);
            opacity: 1;}
        }

        
h3 {
    font-family: "Palanquin Dark", sans-serif;
    font-weight: 800;
    font-size: 2.8rem;
    letter-spacing: 0.1rem;
    color: rgba(74, 72, 72, 0.937);
    opacity: 0;
    transform: translateY(-30px);
    animation: slideDown 1.2s ease-out 1s forwards;
}

        @keyframes slideDown {
        to {
            opacity: 1;
            transform: translateY(0);
        }
}

h4 {
    font-family: "Palanquin Dark", sans-serif;
    font-weight: 100;
    font-size: 1.1rem;
    color: rgb(81, 81, 81);
}

p { 
    font-family: "Palanquin Dark", sans-serif;
    color: rgb(53, 51, 51);
    letter-spacing: 0rem;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 0rem;
}

 small {
    font-family: "Palanquin Dark", sans-serif;
    color: rgba(58, 58, 58, 0.538);
    letter-spacing: 0rem;
    font-size: 1.5rem;
    font-weight: 800;
    position: absolute;
    bottom: 1.5vh;
    margin: 0;
    animation: clickToRestart 1.3s ease-in-out infinite;
}
    @keyframes clickToRestart {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
}

main {
    display: flex;
    flex-direction: column;
}

.box {
    position: relative;
    width: 100vw;
    height: 48vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: url('hover.png'), auto;
}

    #intro {
        background-color: rgb(230, 213, 151);
    }

        #intro p {
        font-size: 1.5rem;
        letter-spacing: 0rem;
        opacity: 0;
        transform: translateY(-45px);
        animation: slideDownOnce 1.2s ease-out 1.4s forwards,
                clickToStart 1.8s infinite alternate 3.4s;
    }

        @keyframes slideDownOnce {
            to {
                opacity: 0.2;
                transform: translateY(0);
            }
        }

        @keyframes clickToStart {
            0%, 100% { opacity: 0.2; }
            50% { opacity: 0; }
        }

    #wait {
        background-color: rgb(255, 95, 95);
    }

    #click {
        background-color: rgb(133, 187, 135);
    }

    #fast {
        background-color: rgb(151, 160, 188);
    }

    #result {
        background-color: rgb(198, 198, 198);
    }

    
        #result p {
        font-size: 2.2  rem;
        opacity: 0;
        transform: translateY(-20px);
        animation: slideDownOnce2 0.8s ease-out forwards;
        }

        #result p:nth-of-type(1) {
            animation-delay: 0s;
        }

        #result p:nth-of-type(2) {
            animation-delay: 0.2s;
        }

        #result p:nth-of-type(3) {
            animation-delay: 0.4s;
            font-size: 1.3rem;
            color: rgba(0, 0, 0, 0.28);
        }

        @keyframes slideDownOnce2 {
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

.box {
    cursor: url('hover.png'), auto; /* cursor by CustomCursor */
}