@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");


h1 {
    font-family: "DotGothic16", sans-serif !important;
    font-weight: 1;
    font-style: normal;
    letter-spacing: 1rem;
    line-height: 2;
    color: #272727;
  }
  
  h2 {
    padding-right: 3rem;
    font-family: "DotGothic16", sans-serif !important;
    font-weight: 1;
    font-style: normal;
    letter-spacing: 0.3rem;
    line-height: -5;
    color: #4f816e;
  }

    
 p {
    padding-right: 1rem;
    font-family: "DotGothic16", sans-serif !important;
    font-weight: 1;
    font-style: normal;
    line-height: -5;
    color: #686868;
  }