/* #region Background */
body { 
  background-image: url("background2.jpg"); /* img by FREEPIK */
  background-repeat: no-repeat; 
  background-size: cover; 
  height: 100vh; 
  position: relative; 
  overflow: hidden; 
} /* #endregion */
 
/* #region Preview */
.preview {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  max-width: 35vw;
  max-height: 75vh;
}

.image-border {
  display: inline-block;
  width: 100%;
  height: auto;
  border: 20px solid;
  border-image-source: url("border.jpg"); /* img from Adobe Stock */
  border-image-slice: 35;
  border-image-repeat: repeat;
  box-sizing: border-box;
}

.image-border img { 
  display: block;
  width: 100%;
  height: auto;
  max-height: 70vh;
  object-fit: contain;
} /* #endregion */



/* #region Button Group */
.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.button label {
  font-family: "Rubik Iso", system-ui;
  font-size: 2rem;
  color: #00ffdd;
  padding: 0.1rem;
  cursor: pointer;
  position: relative;
  transition: 0.5s;
}

.button label:hover {
  color: #fff;
  text-shadow: 0 0 50px rgb(0, 255, 247);
}

.button input {
  display: none;
} /* #endregion */