@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,393;1,393&family=VT323&display=swap');
/*-----------BUTTON-----------*/

button {
  padding-left: 0px;
  color: #c4a1cd;
  background-color: transparent;
  font-size: 20px;
  border: 0px solid #ffffff;
  cursor: pointer;
  margin-top: 30px;
  margin-left: 60px;
  float: left;
}

button:hover {
  color: #8bbcb8;
  background-color: transparent;
}

/*---------PARAGRAPH---------*/

h1 {
  font-family: "VT323", monospace !important;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 20px;
  line-height: 5;
  color: #635555;
}

h2 {
  font-family: "VT323", monospace !important;
  font-weight: 400;
  font-style: normal;

  letter-spacing: 4px;
  line-height: -5;
  color: #4f816e;
}

h3 {
  font-family: "VT323", monospace !important;
  font-weight: 400;
  font-style: normal;

  letter-spacing: 1px;
  line-height: 5;
  color: #6e5c74;
}

h4 {
  font-family: "VT323", monospace !important;
  font-weight: 200;
  font-style: normal;

  letter-spacing: 1px;
  line-height: -5;
  color: #91bcb1;
}

/*-----------Background-----------*/
body {
  background-color: #ffffff;
  background-image: 
    url("https://i.pinimg.com/736x/a7/86/30/a7863019ba8ae2a0625b25b9be335af8.jpg"),
    url("https://i.pinimg.com/736x/20/74/2b/20742b7cc6ad25b7e5dd489926650b83.jpg"),
    url("https://i.pinimg.com/736x/b7/10/88/b71088265e35ca2bf913c355bab1aaf8.jpg");
  background-position: center top, center center, center bottom;
  background-size: 60%, 60%, 60%;
  background-repeat: no-repeat;
  
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  text-align: center;
  cursor: url('cursor.cur'), auto;
}