@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer:ital@0;1&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap');

/*-----------BUTTON-----------*/
button {
  padding-left: 0rem;
  color: #c4a1cd;
  background-color: transparent;
  font-size: 1.1rem;
  border: 0px solid#ffffff;
  cursor: pointer;
  margin-top: 2.4vh;
  margin-left: 2.4vw;
  float: left;
}

button:hover {
  color: #8bbcb8;
  background-color: transparent;
}

/*---------PARAGRAPH---------*/

h1 {
  font-family: "Libre Bodoni", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 2vw;
  letter-spacing: 2vw;
  line-height: 6.5vh;
  color: #89848e;
}

h2 {
  font-family: "Libre Bodoni", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5vw;
  letter-spacing: 0.3vw;
  line-height: 5vh;
  color: #baabc8;
}


h3 {
  font-family: "IM Fell Great Primer", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.2vw;
  letter-spacing: 0rem;
  line-height: 1vh;
  color: #343232;
}

h4 {
  font-family: "Libre Bodoni", serif;
  font-weight: 1;
  font-style: normal;
  font-size: 1.1vw;
  letter-spacing: 0rem;
  line-height: 5vh;
  color: #b5b5b5;
}

h4 a {
  color: #f0bae6;
  font-size: 1vw;
}

h4 a:visited {
  color: #f0bae6;
}

h4 a:hover {
  color: #ffa5ef;;
  text-decoration: underline;}




/*-----------Background-----------*/
body {
  background-color: #ffffff;
  background-image: 
    url("https://i.pinimg.com/736x/a7/86/30/a7863019ba8ae2a0625b25b9be335af8.jpg"),
    url("https://i.pinimg.com/736x/20/74/2b/20742b7cc6ad25b7e5dd489926650b83.jpg"),
    url("https://i.pinimg.com/736x/b7/10/88/b71088265e35ca2bf913c355bab1aaf8.jpg"); /*----images by iStock----*/
  background-position: center 2%, center center, center 95%;
  background-size: 30vw, 30vw, 30vw;
  background-repeat: no-repeat;

  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  text-align: center;
  cursor: url('cursor.cur'), auto;
}
