@import url('https://fonts.googleapis.com/css2?family=Ramaraja&family=VT323&display=swap');
/*-----------BUTTON-----------*/

button {
  padding-left: 0px;
  color: #c4a1cd;
  background-color: transparent;
  font-size: 20px;
  border: 0px solid #ffffff;
  cursor: pointer;
  margin-top: 30px;
  margin-left: 60px;
  float: left;
}

button:hover {
  color: #8bbcb8;
  background-color: transparent;
}

/*---------PARAGRAPH---------*/

h1 {
  font-family: "Ramaraja", serif;
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;

  letter-spacing: 5px;
  line-height: 5;
  color: #6a576d;
}

h2 {
  font-family: "Ramaraja", serif;
  font-weight: 1;
  font-style: normal;

  letter-spacing: 0px;
  line-height: 5;
  color: #d0a1b4;
}

h3 {
  font-family: "Ramaraja", serif;
  font-weight: 100;
  font-style: normal;
  font-size: x-large;

  letter-spacing: 0.5px;
  line-height: 5;
  color: #a69ca9;
}

h4 {
  font-family: "Ramaraja", serif;
  font-weight: 1;
  font-style: normal;
  font-size: larger;

  letter-spacing: 1px;
  line-height: -10;
  color: #313131;
}

/*-----------Background-----------*/
body {
  background-color: #ffffff;
  background-image: 
    url("https://i.pinimg.com/736x/a7/86/30/a7863019ba8ae2a0625b25b9be335af8.jpg"),
    url("https://i.pinimg.com/736x/20/74/2b/20742b7cc6ad25b7e5dd489926650b83.jpg"),
    url("https://i.pinimg.com/736x/b7/10/88/b71088265e35ca2bf913c355bab1aaf8.jpg");
  background-position: center top, center center, center bottom;
  background-size: 30%, 30%, 30%;
  background-repeat: no-repeat;
  
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  text-align: center;
  cursor: url('cursor.cur'), auto;
}