@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Rubik+80s+Fade&family=Rubik+Broken+Fax&family=Rubik+Glitch&family=Rubik+Iso&family=Rubik+Vinyl&family=VT323&display=swap');

body {
    background-color: black;
    position: absolute;
    align-items: center;
    text-align: center;
}

h1 {
    font-family: "Jacquard 12", system-ui;
    font-size: 4rem;
    font-weight: 1;
    letter-spacing: 0.3vw;
    margin: 4rem;
    color: #ff0000;
  }

audio {
    margin-bottom: 20px;
  }

video {
  size: 30vw;
}

button {
  font-family: "Jacquard 12", system-ui;
  padding: 20px;
  font-size: 1.1rem;
  border-radius: 20px;
  margin-right: 20px;
}

button:hover {
  scale: 0.9;
}

