@import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Jacquard+12&family=Rubik+Iso&family=VT323&display=swap");


p {
  font-family: "Jacquard 12", system-ui;
  font-size: 1.3rem;
  font-weight: 1;
  letter-spacing: 0.3vw;
  margin: 1rem;
  color: #ffffff;
  text-shadow: #ffffff;
}


/*-----------Background-----------*/

body {
  background-color: black;
  background-image: url("background.jpg"); /* img by FREEPIK */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  height: 100vh;
  position: relative;
  overflow: hidden;
  cursor: url('cursor.cur'), auto;
}

::selection {
  background: hwb(262 0% 0%);
  color: rgb(0, 255, 183);
}


/*------------Loading-----------*/

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.loading-text {
  font-family: "Rubik Iso", system-ui;
  font-size: 3rem;
  font-weight: 1;
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  width: 0;
  border-right: 2px solid;
  animation: typing 1.3s steps(15) 0.7s forwards, cursor 0.4s step-end infinite alternate;
}

@keyframes typing {
  0% { width: 0; }
  100% { width: 31rem; }
}

@keyframes cursor {
  50% { border-color: transparent; }
}

@keyframes typing2 {
  0% { width: 0; }
  100% { width: 22rem; }
}