@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");

button {
    margin: 0 auto;
    color: #ff878f;
    background-color: transparent;
    font-size: 20px;
    border: 0px solid #ffffff;
    cursor: pointer;
  }
  
  button:hover {
    color: #fe7db7;
    background-color: transparent;
  }

h1 {
  font-family: "DotGothic16", sans-serif !important;
  font-weight: 600;
  font-style: normal;

  letter-spacing: 26px; /* 글씨 간격 */
  line-height: 10px; /* 행 여백 */
  color: #000000;
}

h2 {
  font-family: "DotGothic16", sans-serif !important;
  font-weight: 300;
  font-style: normal;

  letter-spacing: 4px; /* 글씨 간격 */
  line-height: -5; /* 행 여백 */
  color: #4f816e;
}

h3 {
  font-family: "DotGothic16", sans-serif !important;
  font-weight: 1;
  font-style: normal;

  letter-spacing: 4px; /* 글씨 간격 */
  line-height: -5; /* 행 여백 */
  color: #41564e;
}


:root {
  background-image: url("https://i.pinimg.com/474x/be/95/c8/be95c8eb8f4882f9e19163c96b10bc0c.jpg");
  background-size: 20%;
}


body {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  text-align: center;
  cursor: url('your-cursor.png') 32 32, auto;

}