@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");

button {
    margin: 0 auto;
    color: #fda1ca;
    background-color: transparent;
    font-size: 20px;
    border: 0px solid #ffffff;
    cursor: pointer;
  }
  
  button:hover {
    color: #fe7db7;
    background-color: transparent;
  }

h1 {
  text-align: center;
  font-family: "DotGothic16", sans-serif !important;
  font-weight: 300;
  font-style: normal;

  letter-spacing: 10px; /* 글씨 간격 */
  line-height: 2px; /* 행 여백 */
  color: #474545;
}

:root {
    background-color: #ffffff;
    background-image: url(https://i.pinimg.com/736x/ff/9f/ba/ff9fba947fd0f5aaddf649af1c496f07.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-size: 600% 100;
}
  