@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Doto:wght,ROND@100..900,33&family=Jacquard+12&family=Rubik+Iso&family=Rubik+Vinyl&family=VT323&display=swap');

body {
  background-color: rgb(0, 0, 0);
  cursor: url("cursor.png"), auto; /* img by CustomCursor */

}

#confirmBtn, label:hover {
  cursor: url("cursor2.png"), auto; /* img by CustomCursor */
}

::selection {
    background: hwb(262 0% 0%);
    color: rgb(0, 255, 183);
  }