@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Rubik+Broken+Fax&family=Rubik+Iso&family=VT323&display=swap');

body {
  background-color: rgb(0, 0, 0);
  cursor: url("cursor.png"), auto; /* img by CustomCursor */

}

#mute-toggle, .topbar label, .underbar label, #closeBtn, button, .button label, input[type=range]:hover {
  cursor: url("cursor2.png"), auto; /* img by CustomCursor */
}

::selection {
    background: hwb(262 0% 0%);
    color: rgb(0, 255, 183);
  }