@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Rubik+80s+Fade&family=Rubik+Broken+Fax&family=Rubik+Glitch&family=Rubik+Iso&family=Rubik+Vinyl&family=VT323&display=swap');

body {
  background-color: rgb(0, 0, 0);
  cursor: url("cursor.png"), auto; /* img by CustomCursor */

}

button, .underbar label, .button label, input[type=range]:hover {
  cursor: url("cursor2.png"), auto; /* img by CustomCursor */
}

::selection {
    background: hwb(262 0% 0%);
    color: rgb(0, 255, 183);
  }