/* #region Background */
@import url('https://fonts.googleapis.com/css2?family=Cambo&family=Fredericka+the+Great&family=Inconsolata:wght@200..900&display=swap');


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-image: url("background.jpeg"); /* img by Adobe Stock */
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: url('cursor.cur'), auto;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("background2.png");
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: none;
    z-index: 500;
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("background3.png");
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: none;
    z-index: 999;
}
/* #endregion */

/* #region Scrolling Text */
h1 {
    font-family: "Inconsolata", monospace;
    font-size: 3vh;
    font-weight: 800;
    color: #000000;
    text-align: center;
    position: absolute;
    white-space: nowrap;
    z-index: 1000;
    animation: scrollingH1 90s linear infinite;
    bottom: 0vh; 
    left: -200%;
}

    @keyframes scrollingH1 {
        0% {
            left: -60%;
        }
        100% {
            left: 150%;
        }
    }

h2 {
    font-size: 8vh;
    font-weight: 800;
    color: #000000;
    text-align: center;
    position: fixed;
    z-index: 2222;
    letter-spacing: -0.1vw;
    white-space: nowrap;
    animation: scrollingH2 100s linear infinite;
    transform: translate(-33%) rotate(90deg);
}

    @keyframes scrollingH2 {
        0% {
            bottom: -600%;
        }
        100% {
            bottom: 300%;
        }
    }
    

h3 {
    font-size: 1.8vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1;
    letter-spacing: -0.06vw;
    position: absolute;
    bottom: 22vh;
    left: 100%;
    white-space: nowrap;
    z-index: 700;
    color: #ffffff;
    animation: scrollingH3 260s linear infinite;
}

    @keyframes scrollingH3 {
        0% {
            left: 60%;
        }
        100% {
            left: -800%;
        }
    }
/* #endregion */

/* #region Playlist */
.playlist {
    position: relative;
    top: 38vh;
    right: 22vw;
    z-index: 999;
}

.box {
    margin: 0.5vh;
    width: 25vw;
    padding: 1vh 1.1vw;
    display: flex;
    justify-content: space-between;
    cursor: move;

    background-color: rgba(255, 255, 255, 0.946);
    border: 1.4px solid #000000;
    border-radius: 2.5px;
    box-shadow: 1.2px 1.2px 0.8px rgb(0, 0, 0);

    span {
        font-size: 1.1rem;
        font-weight: 1;
        letter-spacing: -0.02vw;
        color: #151515;
    }

    .song-title {
        text-align: left;
    }

    .song-time {
        text-align: right;
    }
} 

    .box.playing {
        background-color: #e0e1de99;
        border: 1px solid #686868;
        box-shadow: 0 0 10px rgba(74, 74, 74, 0.4);
    }

    .box.playing span {
        color: #ffffff;
        font-weight: bold;
    }/* #endregion */

/* #region Vinyl */
.vinyl {
    position: fixed;
    bottom: 0vh;
    right: 11vw;
    display: flex;
    z-index: 777;
}

    #album {
        height: 30vh;
        position: relative;
        bottom: 10vh;
        right: 4.5vw;
        z-index: 777;
    }

    #lp {
        height: 30vh;
        position: relative;
        bottom: 0.1vh;
        right: 7vw;
        z-index: 666;
        animation: spin 9s linear infinite;
        animation-play-state: paused;
    }

        @keyframes spin {
            0% {
                transform: translate(-30%, -50%) rotate(0deg);
            }
            100% {
                transform: translate(-30%, -50%) rotate(360deg);
            }
        }
        
/* #endregion */

/* #region Progress bar */
.progress-bar {
    height: 1.3vh;
    width: 24vw;
    background-color: rgba(203, 203, 203, 0.292);
    border-radius: 2px;
    display: flex;
}

    #progress-bar-fill {
        background-color: #ea1400;
        height: 100%;
        width: 0%;
        border-radius: 2px;
    } /* #endregion */

/* #region Controls panel */
.custom-controls {
    display: flex;
    scale: 90%;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

    button {
        border-radius: 5px;
    } /* #endregion */

/* #region PARENTS CONTAINER */
    .audio-player {
        position: fixed;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        gap: 2vh;
        padding: 2vh;
        background: rgba(14, 14, 14, 0.648);
        border-radius: 5px;
        width: auto;
        height: auto;
    }

    .playlist,
    .progress-bar,
    .custom-controls {
        position: static;
    } /* #endregion */