

@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");

body {
  font-family: "DotGothic16", sans-serif !important;
  font-weight: 900;
  font-style: normal;
  background-color: #d1e9e5;
}

h1, h2, h3, h4, p, div {
  text-align: center;
}

:root {
  --col01: #bdebe2;
  --col02: #e0f8f1;
  --col03: #ffd9dd;
  --col04: #ffd9dd;
  background-color: #d1e9e5;
}


