@import url('https://fonts.googleapis.com/css2?family=Doto:wght@900&display=swap');

h1, h2, h3, h4, p, div {
  text-align: center;
}


:root {
  --col01: #bdebe2;
  --col02: #e0f8f1;
  --col03: #ffd9dd;
  --col04: #ffd9dd;
}

body {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "ROND" 0;
  background-color: #d1e9e5;
}
